@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    scroll-behavior: auto;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    background-color:whitesmoke;
    color: #E0E6EB;
}

.nav-items {
    list-style: none;
    color: #E0E6EB;
    transition: all 0.3s ease;
}

.nav-bar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(13, 166, 95);
    height: 60px;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid #4B5563;
    z-index: 1000;
}

.left {
    margin-left: 0px;
    margin-top: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 550;
    width: 130px;
    height: 55px;
    top: 0px;
    padding-left: 10px;
    transition: all 0.3s ease;
}

.left:hover {
    top: 0px;
    margin-top: 0px;
    border-radius: 10px;
    background-color: #4a4a4a;
    transform: translateY(0px) translateX(0px);
}

.user-name {
    position: relative;
    top: -10px;
    padding-left: 0px;
}

.profile-icon { 	
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
    position: static;
}

.center {
    position: absolute;
    left: 150px;
    right: 150px;
    text-align: center;
    font-size: 30px;
    color: #E0E6EB;
    font-weight: bolder;
    text-transform: uppercase;
}

.right {
    position: relative;
    display: flex;
    gap: 30px;
    right: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 18px;
    font-weight: 550;
}

#about-us,
#log-out-btn {
    transition: color 0.3s ease, text-decoration 0.3s ease, font-weight 0.3s ease;
}

#about-us:hover {
    text-decoration: underline;
    color: #32cf4c;
}

#log-out-btn:hover {
    text-decoration: underline;
    font-weight: bold;
    color: #EF4444;
}

.side-bar {
    position: fixed;
    top: 60px;
    left: 0;
    display: flex;
    flex-direction: column;
    background-color: white;
    min-height: calc(100vh - 60px);
    width: 80px;
    padding-top: 100px;
    z-index: 900;
    border-right: 1px solid white;
    box-shadow: 5px 10px 5px rgb(54, 53, 53);
}

.side-bar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.side-bar-items {
    list-style: none;
    position: relative;
    cursor: pointer;
}

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    width: 50px;
    height: 60px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background: linear-gradient(145deg, #6b6b6b, #505050);
    transition: all 0.3s ease;
}

.container:hover {
    transform: translateY(-4px) rotateX(5deg) rotateY(5deg);
}

.side-bar-image-icons {
    border-radius: 50%;
    height: 35px;
    width: 35px;
    transition: transform 0.3s ease;
}

.search-bg {
    background-color: #f3f3f3;
    width: calc(100% - 80px);
    height: 65px;
    position: fixed;
    top: 55px;
    left: 80px;
    border-bottom: 1px solid rgb(246, 246, 246);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    padding-top: 19px;
    z-index: 899;
    justify-content: center;
}

.search-input-group {
    position: fixed;
    top: 80px;
    left: 95px;
    width: calc(100% - 110px);
    max-width: 680px;
    z-index: 900;
    display: flex;
    height: 41px;
}

.search-icon {
    height: 37px;
    width: 80px;
    margin-top: -1px;
    background-color: black;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid white;
    padding: 5px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: border 0.3s ease;
}

.search-bar {
    border: 1px solid black;
    color:black;
    min-width: 100px;
    max-width: 500px;
    background-color: whitesmoke;
    padding: 15px;
    font-size: 16px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-left: 10px;
    flex-grow: 1;
    height: 35px;
    border-right: none;
    outline: none;
    transition: border 0.3s ease;
}

.search-bar:focus {
    border: 1px solid blue;
    border-right: none;
    box-shadow: none;
}

.search-icon:hover {
    border: 1px solid rgb(2, 2, 8);
}

.detail-bar {
    background-color: #6e6d6c;
    color: white;
    padding: 5px 10px;
    border-radius: 8px;
    margin-left: 8px;
    white-space: nowrap;
    opacity: 0;
    transform: translateX(-10px);
    transition: all 0.3s ease; 	
    pointer-events: none;
    position: absolute;
    left: 50px;
}

.container:hover .detail-bar {
    opacity: 1;
    transform: translateX(0);
}

.container:hover .side-bar-image-icons {
    transform: scale(1.1);
}

main.rooms {
    padding: 20px;
    margin-left: 80px;
    margin-top: 60px;
    height: calc(100vh - 60px); 
    width: calc(100% - 80px);
    overflow-y: auto;
    color: #E0E6EB;
    position: relative;
    border-left: 3px solid #4B5563;
    padding-top: 120px;
    padding-bottom: 80px;
}

.label {
    position: absolute;
    left: 12px;
    color: white;
    margin-bottom: 30px;
    border: 1px solid #b9106a;
    background-color: #b9106a;
    width: fit-content;
    height: 50px;
    text-align: center;
    padding: 10px 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-weight: 600;
    margin-left: 15px;
    margin-top: 5px;
    border-left: 1px solid grey;
    box-shadow:3px 3px 10px #b84d5f;
}

.scroll-wrapper {
    position: relative;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.diagram-box {
    height: 300px;
    width: 100%;
    border: 2px solid #4799eb;
    position: relative;
    border-radius: 12px;
    box-shadow: 10 10px 15px -3px rgba(0, 0, 0, 0.4), 0 4px 6px -2px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    scroll-behavior: smooth;
    overflow-x: auto;
    overflow-y: hidden;
    background-color: #dadadb;
    padding: 20px;
    margin-top: 50px;
    gap: 20px;
}

.scroll-btn:hover {
    background-color: #141517;
}

.scroll-btn.left-btn {
    left: 5px;
}

.scroll-btn.right-btn {
    right: 5px;
}

.scroll-btn.hidden {
    opacity: 0;
    pointer-events: none;
}

.rooms {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.cards {
    width: 220px;
    height: 250px; 
    padding: 20px;
    border-radius: 16px;
    background-color: #f6f6f7;
    border: 1px solid #d7d7d8; 
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.3), 0 2px 4px -2px rgba(0, 0, 0, 0.15); 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0;
    transition: transform 0.3s ease-in-out;
    margin-left: 0;
}

.room-title {
    color: #bbbcbc;
}

.cards:hover {
    transform: translateY(-5px) scale(1.02);
    box-shadow: 0 10px 15px -3px rgba(79, 70, 229, 0.4), 0 4px 6px -2px rgba(79, 70, 229, 0.3); 
}

.room {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.room-number {
    margin-top: 2px;
    font-size: 40px;
    color: #0c0a0a;
    font-weight: 700;
}

.sharing {
    margin-top: 5px;
    margin-bottom: 10px;
    color: #10b981;
    font-weight: 500;
    position: static;
}

.sharing-container {
    left: 10px;
    position: center;
    margin-left: 10px;
    margin-right: 10px;
}

.room-details {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s;
    background-color: #3933a9;
}

.more-details-btn {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: rgb(69, 159, 83);
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s;
}

.more-details-btn:hover {
    background-color: rgb(10, 171, 83);
}

.add-icon {
    background-color: #f6f6f7;
    color: white;
    height: 80px;
    width: 80px;
    margin-top: 10px;
    cursor: pointer;
}

.add-cards {
    width: 220px;
    height: 250px; 
    padding: 20px;
    border-radius: 16px;
    background-color: #f6f6f7;
    border: 1px solid #d7d7d8; 
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.3), 0 2px 4px -2px rgba(0, 0, 0, 0.15); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    transition: transform 0.3s ease-in-out;
    margin-left: 0;
}

.add-cards:hover {
    transform: translateY(-5px) scale(1.02);
    box-shadow: 0 10px 15px -3px rgba(79, 70, 229, 0.4), 0 4px 6px -2px rgba(79, 70, 229, 0.3); 
}

.room-add {
    color:black;
}
