body{
    background-color: rgb(32, 43, 54);
    align-items: center;
    text-align: center;
}
h1
{
    color: aliceblue;
    margin-bottom: 0px;
}
.form
{
    height: 300px;
    align-items: center;
    text-align: center;
    align-content: center;
    border: 1px solid white;
    align-items: center;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 10px;
    width: 500px;
    right: 50px;
    margin-top: 150px;
    padding-top: 50px;
    padding-bottom: 20px;
    border-radius: 10px;
}
input{
    height: 30px;
    width: 300px;
    border-radius: 10px;
    border: 1px solid;
    margin-bottom: 20px;
    padding-left: 10px;
}
.button-form
{
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;  
}
.login
{
    margin-bottom: 20px;
    height: 40px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 18px;
    color: black;
    box-shadow:2px 2px 5px white;
    background-color: aqua;
    width: 300px;
    margin-left:10px;
}
.admin-buttons
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 30px;
}
.admin-log
{
    width: 150px;
    height: 35px;
    background-color: rgb(54, 81, 234);
    color: white;
    border-radius: 10px;
    border: 1px solid black;
}
img{
    width: 500px;
    padding-top: 20px;
    display: inline-block;
    position: fixed;
    left: 20px;
}

